<div class="topnav">
  <div class="hamburger-icon" (click)="openCloseSideBar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div>
    <img src="./../../assets/logoimage.png" class="logo">

  </div>

  <div class="web-title"><span>Easy Compliance</span></div>
  <div class="welcome"><span>Welcome, George Millon</span></div>
  <div>
    <img src="./../../assets/profile.png" class="profile">
  </div>
  <div>
    <img src="./../../assets/setting.png" class="setting">
  </div>
</div>
<div class="sidebar" id="sidebar">
  <a [ngClass]="{'active':selectedPage=='Home'}" href="/">Home</a>

  
  <button class="dropdown-btn" (click)="openCloseMenu()">Manage Retention
    <i [ngClass]="open?'fa fa-caret-down': 'fa fa-caret-right'"></i>
  </button>
  <div [ngClass]="open?'dropdown-container': 'dropdown-container-closed'">
    <a [ngClass]="{'active':selectedPage=='Create Job'}" href="/create-job">Create
      Job</a>
    <a [ngClass]="{'active':selectedPage=='Browse Contexts'}" href="/browse-contexts">Browse Contexts</a>
    <a [ngClass]="{'active':selectedPage=='Browse Rules'}" href="/browse-rules">Browse Rules</a>    
    <a [ngClass]="{'active':selectedPage=='Browse Jobs'}" href="/browse-jobs">Browse Jobs</a>
  </div>
</div>