<app-header [selectedPage]="title" [openSubMenu]="true"></app-header>
<div class="content" id="content">
    <h2>{{title}}</h2>
    <!--<table>
        <thead>
            <tr>
                <th>Context ID</th>
                <th>Name</th>
                <th>App Id</th>
                <th>Bu Id</th>
                <th>Sbu Id</th>
                
                <th>Country</th>
                <th>Nets Role</th>
                <th>Retention Period</th>
            </tr>
        </thead>

        <tbody >
            <tr *ngFor="let context from contextList" >
                <td>{{context.name}}</td>
                <td>{{context.name}}</td>
                <td>{{context.appId}}</td>
                <td>{{context.buId}}</td>
                <td>{{context.sbuId}}</td>
                <td>{{context.country}}</td>
                <td>{{context.netsRole}}</td>
                <td>{{context.retentionPeriod}}</td>
                
            </tr>
        </tbody>


    </table>-->
    <mat-table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="second"> Name </th>
            <td mat-cell *matCellDef="let element" class="second"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="appId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="first"> App ID </th>
            <td mat-cell *matCellDef="let element" class="first"> {{element.appId}} </td>
        </ng-container>

        <ng-container matColumnDef="buId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="first"> BU ID </th>
            <td mat-cell *matCellDef="let element" class="first"> {{element.buId}} </td>
        </ng-container>

        <ng-container matColumnDef="sbuId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SBU ID </th>
            <td mat-cell *matCellDef="let element"> {{element.sbuId}} </td>
        </ng-container>

        <ng-container matColumnDef="netsRole">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nets Role </th>
            <td mat-cell *matCellDef="let element"> {{element.netsRole}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
        <!-- Column Definitions -->
        <ng-container matColumnDef="retentionPeriod">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Retention Period </th>
            <td mat-cell *matCellDef="let element"> {{element.retentionPeriod}} </td>
        </ng-container>

        <!-- Header Row and Data Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>