/* src/app/my-form/my-form.component.css */
.form-container {
    max-width: 800px;
    margin-top: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
}

h3 {
    margin-top: 115px;
    color: #11588f;
}

.summary {
    margin-top: 115px;
    display: flex;
    border-color: black;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;

    span {
        padding: 15px;
    }
}


.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
}

label {
    display: block;
    margin-bottom: 10px;
    min-width: 150px;
    max-width: 150px;
    padding-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding doesn't add to total width */
    min-width: 350px;
    max-width: 350px;
    margin-left: 5px;
}

textarea {
    resize: vertical;
    /* Allow vertical resizing */
    min-height: 100px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-left: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-container {
        margin-top: 10px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}