<app-header [selectedPage]="title" [openSubMenu]="true"></app-header>
<div class="content" id="content">

  <mat-horizontal-stepper [labelPosition]="'bottom'" [linear]="true" #stepper>
    <mat-step label="Create Context" [editable]="false">
      <!-- Content for Step 1 -->
      <div class="responsive-form">
        <h3>Create Context</h3>
        <!-- src/app/my-form/my-form.component.html -->
        <div class="form-container">
          <form [formGroup]="contextForm">
            <div class="form-group">
              <label for="name">Context Name:</label>
              <input type="text" id="name" formControlName="name">
              <div
                *ngIf="contextSubmitted && contextForm.get('name')?.errors?.['required']"
                class="error-message">
                Name is required.
              </div>
            </div>

            <div class="form-group">
              <label for="dataSubCategory">Data Subject Category</label>
              <input type="text" id="dataSubCategory" formControlName="dataSubCategory">
              <div
                *ngIf="contextSubmitted && contextForm.get('dataSubCategory')?.errors?.['required']"
                class="error-message">
                Data Subject Category is required.
              </div>
            </div>

            <div class="form-group">
              <label for="appId">App Id</label>

              <select id="appId" formControlName="appId" class="form-control">
                <option [ngValue]="null" disabled>-- Select a buId --</option>
                <option *ngFor="let buId of applicationMap" [ngValue]="buId.value">
                  {{ buId.label }}
                </option>
              </select>
              <!--<div *ngIf="contextForm.get('buId')?.errors?.['required']">buId is required.</div>-->
            </div>

            <div class="form-group">
              <label for="buId">BU id</label>

              <select id="buId" formControlName="buId" class="form-control">
                <option [ngValue]="null" disabled>-- Select a buId --</option>
                <option *ngFor="let buId of buIdMap" [ngValue]="buId.value">
                  {{ buId.label }}
                </option>
              </select>
              <!--<div *ngIf="contextForm.get('buId')?.errors?.['required']">buId is required.</div>-->
            </div>

            <div class="form-group">
              <label for="sbuId">SBU id</label>

              <select id="sbuId" formControlName="sbuId" class="form-control">
                <option [ngValue]="null" disabled>-- Select a buId --</option>
                <option *ngFor="let buId of buIdMap" [ngValue]="buId.value">
                  {{ buId.label }}
                </option>
              </select>
              <!--<div *ngIf="contextForm.get('buId')?.errors?.['required']">buId is required.</div>-->
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" id="country" formControlName="country">
              <div
                *ngIf="contextSubmitted && contextForm.get('country')?.errors?.['required']"
                class="error-message">
                Country is required.
              </div>
            </div>

            <div class="form-group">
              <label for="netsRole">Role</label>
              <input type="text" id="netsRole" formControlName="netsRole">
              <div
                *ngIf="contextSubmitted && contextForm.get('netsRole')?.errors?.['required']"
                class="error-message">
                Role is required.
              </div>
            </div>

            <div class="form-group">
              <label for="retentionPeriod">Retention Period</label>
              <input type="text" id="retentionPeriod" formControlName="retentionPeriod">
              <div
                *ngIf="contextSubmitted && contextForm.get('retentionPeriod')?.errors?.['required']"
                class="error-message">
                Retention Period is required.
              </div>
            </div>


            <!--<button type="submit" [disabled]="contextForm.invalid">Submit</button>-->
            <button mat-button (click)="submitContextForm()">Submit</button>
            <button type="reset">Reset</button>
            <button mat-button matStepperNext [disabled]="!contextCreated">Next</button>
          </form>
        </div>
      </div>
    </mat-step>
    <mat-step label="Create Rule" [editable]="false">
      <!-- Content for Step 2 -->
      <h3>Create Rule</h3>
      <!-- src/app/my-form/my-form.component.html -->
      <div class="form-container">
        <form [formGroup]="ruleForm">
          <div class="form-group">
            <label for="name">Rule Name:</label>
            <input type="text" id="name" formControlName="name">
            <div *ngIf="ruleForm.get('name')?.invalid && (ruleForm.get('name')?.dirty || ruleForm.get('name')?.touched)"
              class="error-message">
              <div *ngIf="ruleForm.get('name')?.errors?.['required']">Name is required.</div>
            </div>
          </div>



          <div class="form-group">
            <label for="appId">Application id</label>

            <select id="appId" formControlName="appId" class="form-control">
              <option [ngValue]="null" disabled>-- Select application --</option>
              <option *ngFor="let appId of applicationMap" [ngValue]="appId.value">
                {{ appId.label }}
              </option>
            </select>
            <!--<div *ngIf="ruleForm.get('buId')?.errors?.['required']">buId is required.</div>-->
          </div>

          <div class="form-group">
            <label for="buId">BU id</label>

            <select id="buId" formControlName="buId" class="form-control">
              <option [ngValue]="null" disabled>-- Select a buId --</option>
              <option *ngFor="let buId of buIdMap" [ngValue]="buId.value">
                {{ buId.label }}
              </option>
            </select>
            <!--<div *ngIf="ruleForm.get('buId')?.errors?.['required']">buId is required.</div>-->
          </div>

          <div class="form-group">
            <label for="sbuId">SBU id</label>

            <select id="sbuId" formControlName="sbuId" class="form-control">
              <option [ngValue]="null" disabled>-- Select a sbuId --</option>
              <option *ngFor="let sbuId of sbuIdMap" [ngValue]="sbuId.value">
                {{ sbuId.label }}
              </option>
            </select>
            <!--<div *ngIf="ruleForm.get('buId')?.errors?.['required']">buId is required.</div>-->
          </div>

          <div class="form-group">
            <label for="targetDataObject">Target Data Object</label>
            <input type="text" id="targetDataObject" formControlName="targetDataObject">
            <div
              *ngIf="ruleForm.get('targetDataObject')?.invalid && (ruleForm.get('targetDataObject')?.dirty || ruleForm.get('targetDataObject')?.touched)"
              class="error-message">
              <div *ngIf="ruleForm.get('targetDataObject')?.errors?.['required']">targetDataObject is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="ruleDocLink">Rule Document</label>
            <input type="text" id="ruleDocLink" formControlName="ruleDocLink">
            <div
              *ngIf="ruleForm.get('ruleDocLink')?.invalid && (ruleForm.get('ruleDocLink')?.dirty || ruleForm.get('ruleDocLink')?.touched)"
              class="error-message">
              <div *ngIf="ruleForm.get('ruleDocLink')?.errors?.['required']">Integration Type is required.
              </div>
            </div>
          </div>


          <!--<button type="submit" [disabled]="contextForm.invalid">Submit</button>-->
          <button mat-button [disabled]="ruleForm.invalid" (click)="submitRuleForm()">Submit</button>
          <button type="reset">Reset</button>
          <button mat-button matStepperNext [disabled]="!ruleCreated">Next</button>
        </form>
      </div>

    </mat-step>

    <mat-step label="Map Rule to Contexts" [editable]="false">
      <!-- Content for Step 2 -->
      <h3>Map Rule to Contexts</h3>
      <!-- src/app/my-form/my-form.component.html -->
      <label>Rule Details</label>
      <label for="name">Rule Name: {{ruleForm.get('ruleId')?.value}} - {{ruleForm.get('name')?.value}}</label>
      <div class="form-container">
        <form [formGroup]="mappingForm">
          <div class="form-group">
            <label for="contextId">Context Id</label>
            <input type="text" id="contextId" formControlName="contextId">
            <div *ngIf="mappingForm.get('contextId')?.invalid && (mappingForm.get('contextId')?.dirty || mappingForm.get('contextId')?.touched)"
              class="error-message">
              <div *ngIf="mappingForm.get('contextId')?.errors?.['required']">Enter context id</div>
            </div>
          </div>

          <!--<button type="submit" [disabled]="contextForm.invalid">Submit</button>-->
          <button mat-button [disabled]="mappingForm.invalid" (click)="submitContextRuleMappingForm()">Submit</button>
          <button type="reset">Reset</button>
          <button mat-button matStepperNext [disabled]="!mappingCreated">Next</button>
        </form>
      </div>

    </mat-step>

    <mat-step label="Create Job" [editable]="false">
      <!-- Content for Step 2 -->
      <h3>Create Job</h3>
      <!-- src/app/my-form/my-form.component.html -->
      <div class="form-container">
        <form [formGroup]="jobForm">
          <div class="form-group">
            <label for="name">Job Name:</label>
            <input type="text" id="name" formControlName="name">
            <div *ngIf="jobForm.get('name')?.invalid && (jobForm.get('name')?.dirty || jobForm.get('name')?.touched)"
              class="error-message">
              <div *ngIf="jobForm.get('name')?.errors?.['required']">Name is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="appId">Application id</label>
            <span>{{jobForm.get("appId")?.value}}</span>
          </div>

          <div class="form-group">
            <label for="buId">buId</label>
            <span>{{jobForm.get("buId")?.value}}</span>
          </div>

          <div class="form-group">
            <label for="sbuId">sbuId</label>
            <span>{{jobForm.get("sbuId")?.value}}</span>
          </div>

          <div class="form-group">
            <label for="ruleId">Rule ID</label>
            <span>{{jobForm.get("ruleId")?.value}}</span>
          </div>

          <div class="form-group">
            <label for="buId">BU id</label>

            <select id="buId" formControlName="buId" class="form-control">
              <option [ngValue]="null" disabled>-- Select a buId --</option>
              <option *ngFor="let buId of buIdMap" [ngValue]="buId.value">
                {{ buId.label }}
              </option>
            </select>
            <!--<div *ngIf="ruleForm.get('buId')?.errors?.['required']">buId is required.</div>-->
          </div>



          <!--<button type="submit" [disabled]="contextForm.invalid">Submit</button>-->
          <button mat-button [disabled]="jobForm.invalid" (click)="submitRuleForm()">Submit</button>
          <button type="reset">Reset</button>
          <button mat-button matStepperNext [disabled]="!jobCreated">Next</button>
        </form>
      </div>

    </mat-step>

    <mat-step label="Summary" [editable]="false">
      <div *ngIf="successSummary" class="summary">
        <img src="../../assets/success_summary.png" style="width: 25px;height: 25px;padding: 15px;">
        <span>Following is summary of submtted details of - context, rule and job!</span>
      </div>

      <div class="responsive-form" style="margin-top: 25px;">
        <label>Context Details</label>
        <label for="name">Context Name: {{contextForm.get('name')?.value}}</label>
        <label for="dataSubCategory">Data Subject Category: {{contextForm.get('dataSubCategory')?.value}}</label>
        <label for="buId">Data Subject Category: {{contextForm.get('buId')?.value}}</label>

        <br>

        <label>Rule Details</label>
        <label for="name">Context Name: {{ruleForm.get('name')?.value}}</label>
        <label for="targetDataObjecr">Data Type: {{ruleForm.get('targetDataObjecr')?.value}}</label>
        <label for="appId">Application Id: {{ruleForm.get('appId')?.value}}</label>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>