@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

div.content {
    margin-left: 170px;
    padding: 1px 16px;
    //height: 1000px;
    margin-top: 40px;
}

.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    width: 80%;
    background-color: white;
    margin-top: 2px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #1e88d9;
    color: #fff;
}

.mat-step-header {
  pointer-events: none !important;
}

.hamburger-icon {
    display: none;
    /* Hide the hamburger icon by default */
    cursor: pointer;
    margin-left: 5px;
}

/* Style for the hamburger lines */
.hamburger-icon span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.web-title {
    margin-top: 2px;
    min-width: calc(80% - 40px);
}

.welcome{
    font-size: 12px;
    font-weight: bold;
    color: #0b4f93;
    display: block;
}

.mat-paginator{
    float: left;
    line-height: 30px;
}

.mat-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

td,
th {
    border: 1px solid #ddd;
    

    mat-paginator{
        padding: 8px;
    }
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1e88d9;
    color: white;
}

button {
  background-color: #1e88d9;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .hamburger-icon {
        display: block;
        /* Show the hamburger icon */
    }
}

@media screen and (max-width: 767px) {
    .hamburger-icon {
        display: block;
        /* Show the hamburger icon */
    }

    .sidebar {
        display: none;
    }

    .web-title {
        margin-top: 2px;
        min-width: calc(70% - 40px);
    }

    .welcome{
        display: none;
    }

    button{
        margin-bottom: 10px;
    }
}